.contenido
	margin-bottom: 40px;
	justify-content: space-evenly;
	contenedor()

.caja
	max-width: 430px
	caja-sombra()
	&__contenido
		padding: 20px
		background-color: color-claro
		span
			color: color-segundario
			titulos(Fuente2)
		h3
			titulos(Fuente2)
		p 
			margin 30px 0px 10px
