extends components/plantilla.pug 
block content
		section.intro 
			.intro__imagen: img(src="./images/imagen.png", alt="")
			.intro_contenido 
				h2= titulos[0]  
				p.
					Lorem Ipsum is simply dummy text of the 
					printing and typesetting industry. 
					Lorem Ipsum has been the industry's 
					standard dummy text ever since the 
					1500s, when an unknown printer took a 
					galley of type and scrambled it to make a 
					type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
					remaining essentially unchanged. 
				a.boton Leer mas
		main.contenido 
			+caja('imagen.png',titulos[1],'Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industrys standard dummy text ever since the')
			+caja('imagen.png',titulos[2],'Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industrys standard dummy text ever since the')
			+caja('imagen.png',titulos[3],'Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industrys standard dummy text ever since the')
		ul 
			each titulo in titulos 
				li=titulo
		
